.card-bg{
  background-image: url('https://images2.alphacoders.com/122/1223602.jpg');
  background-size:cover;
    background-position: center-center;
    
    height: 100vh;
    width: 100vw;
}
.cart{
  width: 900px;
 height: 550px;
 background-color: #212121;
 box-shadow: 15px 15px 30px #191919,
              -15px -15px 30px #292929;
 transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
              transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  position: relative;
  margin-left: 220px;
  margin-top: 50px

}
.name{
  color:aliceblue;
  font-family: Suwannaphum;
}

.igm{
  position: absolute;
  width: 320px;
  height: 320px;
  display:flex;
  margin-left: 5px;
  margin-top: 5px;
  
}
.desc{
  color:aliceblue;
  position: absolute;
  font-size: 15px;
  margin-left: 350px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: left;
  font-family: quicksand;
  font-size: medium;
  font-family: Suwannaphum;
}
.gend{
  color:aliceblue;
  position:absolute;
  font-size: 15px;
  margin-right: 150px;
  margin-top:400px;
  margin-left: 5px;
  font-family: Suwannaphum;
}
.rat{
  color:aliceblue;
  position:absolute;
  font-size: 15px;
  margin-right: 150px;
  margin-top:430px;
  margin-left: 5px;
  font-family: Suwannaphum;
}
.plat{
  color:aliceblue;
  position:absolute;
  font-size: 15px;
  margin-right: 150px;
  margin-top:460px;
  margin-left: 5px;
  font-family: quicksand;
  font-size: small;
  font-family: Suwannaphum;
}
.rel{
  color:aliceblue;
  position:absolute;
  font-size: 15px;
  margin-right: 150px;
  margin-top:370px;
  margin-left: 5px;
  font-family: Suwannaphum;
}

.primary-button {
  font-family: 'Ropa Sans', sans-serif;
     /* font-family: 'Valorant', sans-serif; */
  color: white;
  cursor: pointer;
  font-size: 13px;
  font-family: Suwannaphum;
  font-weight: bold;
  letter-spacing: 0.05rem;
  border: 1px solid #ff0;
  padding: 0.8rem 2.1rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #0E1822;
  background-size: 200%;
  background-position: 200%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
  transition-property: background-position, border, color;
  position: relative;
  z-index: 1;
 }
 
 .primary-button:hover {
  border: 1px solid #ff0;
  color: white;
  background-position: 40%;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .primary-button:hover:before {
  background-color: #ff0;
 }
 
 .primary-button:hover:after {
  background-color: white;
 }
 
 .primary-button:after {
  content: "";
  position: absolute;
  background-color: #ff0;
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
 }
 
 .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
     /* opacity: 0.3; */
 }
 
 .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
     /* opacity: 0.3; */
  z-index: 0;
 }
 
 .shape {
  fill: #0E1822;
 }