.crbg{
    background-image: url('https://images5.alphacoders.com/610/610950.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center-center;
    height: 96vh;
    width: 100vw;


}

    .btt,
.btt::after {
 padding: 8px 10px;
 font-size: 14px;
 background: linear-gradient(45deg, transparent 5%, #000000 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #ff0;
 outline: transparent;
 position: relative;
 font-family: Suwannaphum;
}

.btt::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #ff0 3%, #ff0 5%, #000000 5%);
 text-shadow: -3px -3px 0px #ff0, 3px 3px 0px #ff0;
 clip-path: var(--slice-0);
}

.btt:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
.tite{
    color:#ff0;
    font-size: xx-large;
    font-family: Suwannaphum;
}
.lsbt,
.lsbt::after {
 padding: 8px 10px;
 font-size: 14px;
 background: linear-gradient(45deg, transparent 5%, #000000 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #ff0;
 outline: transparent;
 position: absolute;
 margin-top: 50px;
 margin-left: 25px;
 font-family: Suwannaphum;
 

}

.lsbt::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #ff0 3%, #ff0 5%, #000000 5%);
 text-shadow: -3px -3px 0px #ff0, 3px 3px 0px #000000;
 clip-path: var(--slice-0);
 margin-top: 20px;
}

.lsbt:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
.carf{
    background-color:rgba(24, 22, 26, 0.945);
    border-radius: 20px;
    width: 500px;
    height: 500px;
    margin-left: 450px;
    margin-top: 50px;
    position: relative;
}
.nmr{
    color:#ff0;
    font-family: Suwannaphum;
}
.ee{
    color:red;
    font-family: Suwannaphum;
}
.bar {
    font-family: Suwannaphum;
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: rgb(194, 192, 192);
    padding: .2rem 0;
    outline: none;
    background-color:#00000070;
    color:#fff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .bar:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #a0b2c9;
   }
   
   .bar::placeholder {
    color: rgb(218, 213, 213);
   }
   
   .bar:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   .plata{
       color: #ededee;
       font-family: Suwannaphum;
       border-radius: 5px;
        border-color: #ff0;
   }
.btp{
    color:#fff;
    display: inline-block;
    font-family: Suwannaphum;
}  
.del{
    background-color: #000000;
    border-radius: 3px;
    border-color: #ff0;
    color:#ff0;
    width: 15px;
    height: 18px;
    align-items: center;
}
.ult{
    display: inline-block;
    font-family: Suwannaphum;
    justify-content: space-between;
    margin-left: 5px;
}
.check{
    border-radius: 5px;
    border-color: #ff0;
    background-color: #0000007c;
    color: #ededee;
}