.backg{
    background-image: url('https://www.xtrafondos.com/wallpapers/toyota-supra-drift-auto-deportivo-9162.jpg');
    background-size:cover;
    background-position: center-center;
    margin-right: 100px;
    height: 1500px;
    width: 100vw;
}