.bground{
    background-image: url(https://images4.alphacoders.com/955/955806.jpg);
    background-size:cover;
    background-position: center-center;
    
    height: 100vh;
    width: 100vw;
    position:relative;
    
    
}
.divbut{
    position: absolute;
    margin-top: 450px;
    margin-left: 1000px;
    /* background-color: rgba(0, 255, 255, 0.479); */
    height: 50px;
}
.parrafo{
    margin-right: 50px;
}
.butt,
.butt::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #000000 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 4px 0px 0px #ff0;
 outline: transparent;
 position: relative;
 margin-top: 50px;
 font-family: Suwannaphum;
}

.butt::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -4px 0 0);
 --slice-2: inset(50% -41px 30% 0);
 --slice-3: inset(10% -4px 85% 0);
 --slice-4: inset(40% -4px 43% 0);
 --slice-5: inset(80% -4px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(35deg, transparent 3%, #ff0 3%, #ff0 5%, #000000 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #ff0;
 clip-path: var(--slice-0);
}

.butt:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}
.text{
    /* background-color: rgba(220, 20, 60, 0.493); */
    position:absolute;
    margin-top: 60px;
    margin-left: 40px;
}
.ttt{
    font-family: Suwannaphum;
    color:rgb(0, 204, 255);
    text-shadow: 1.5px 1.5px 1.5px rgb(221, 21, 114);


}
.h3{
    /* background-color: rgba(0, 0, 139, 0.349); */
    position: absolute;
    margin-top: 95px;
    margin-left: 48px;
}
.pam{
    font-family: Suwannaphum;
    color:rgb(0, 204, 255);
    text-shadow: 1.5px 1.5px 1.5px rgb(221, 21, 114);
}
